@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
:root{
    --bg-color:#f1f1f1;
    --bg-second:#fbfbfb;
    --dark-gray:#333;
    --light-brown:#c7a17a;
    --black:#1f2226;
}
body{
font-family: "Open Sans", sans-serif;

}
h1,h2,h3{
    font-family: "Oswald", sans-serif;
}
ul{
    list-style:none;
}

a{
    text-decoration:none;
}
/* uitility classes */
.container{
max-width:1200px;
margin:auto;
}
.text-primary{
      color:var(--light-brown);
}
.heading{
    text-align:center;
    margin-bottom:25px;
}
.heading span{
    font-size:18px;
}
.heading h2{
    text-transform: uppercase;
    font-size:40px;
    font-weight:500;
}
header{
    background-color: #fff;;
    position:fixed;
    z-index: 999;
    border-bottom:1px solid #ccc;
    width:100%;
}
.navbar{
 display:flex;
 justify-content: space-between;
align-items: center;
max-width:1200px;
margin:auto;
height:90px;
}

.caffeine{
    width:300px;
}
.navbar ul{
    display:flex;
   
}
.navbar ul li a{
    margin: 0 20px;
    color:var(--dark-gray);
    text-transform: capitalize;
    font-size:18px;
    font-weight:500;
    transition: 0.5s ease;
} 
.navbar ul li a:hover {
   color:var(--light-brown);  
}
#home{
    background: url(images/home-bg.png) center no-repeat  ;
    background-size:100%;
    background-color:var(--bg-color);
}
#home .home-content{
    display:grid;
    grid-template-columns: repeat(2 , 1fr);
    min-height:100vh;
    gap:50px;
   align-items: center;
}
#home h3{
    color:var(--dark-gray);
    font-size:22px;
    font-weight:400;
}
#home h1{
    text-transform: uppercase;
     color:var(--dark-gray);
  line-height: 1.3;
    font-weight:700;
    font-size:65px;
}
#home p{

font-size:16px;
font-weight:500;
line-height: 1.5;
margin:15px 0;
}
#home .btn{
    display: inline-block;
    color:var(--bg-second);
    background-color: var(--light-brown);
    padding: 15px 25px;
    border-radius: 30px;
    text-transform: capitalize;
    margin:10px 0;
    transition: 0.3s ease;
}
#home .btn i{
    margin-left: 5px;
}
#home .btn:hover{
   background-color: var(--dark-gray); 
}
#home img{
    display: block;
    width:100%;
}
.about-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:50px;
    align-items: center;
    min-height: 100vh;
}
.about-content img{
    display:block;
    width:100%;
}
.about-content .about-text h2{
margin-bottom:10px;
text-transform: uppercase;
}
.about-content .about-text h2 .text-primary{
    color:var(--light-brown);
}
.about-content .about-text h3{
    margin:30px 0 5px 0;;
}
.about-content .about-text p{
    color:var(--dark-gray);
    font-size:16px;
}
#menu{
    background-color:var(--bg-second);
    padding:6rem 0;
}
 #menu .row{
    display:grid;
    grid-template-columns: repeat(2,1fr);
     gap:30px;
     margin-top:2rem;
}
#menu .item{
    border:1px solid #ddd;
    margin:30px 0;
    padding:25px 20px;
    display:flex;
    justify-content: space-between;
}
 #menu img{
width:80px;
margin-left:-50px;
} 
#menu .details{
    margin-left:20px;
}
 #menu .details h3{
font-size:20px;
margin-bottom:15px;
 }
 #menu .details p{
    font-size:14px;
    line-height: 1.6;
 }
  #menu .item .price {
    display: flex;
    align-items: center;
    font-weight:600;
    border-left:1px solid #eee;
    padding:20px;
    font-size: 20px;;
  }
   #testimonials{
    margin:100px 0;
   }
  #testimonials .row{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
    margin-top:80px;
  }
   #testimonials .row .item{
    background-color:var(--bg-color);
    padding:25px 25px 35px;
    text-align: center;
    border-radius: 5px;
   }
 #testimonials .row .item img{
    width:100px;
    height:100px;
    object-fit: cover;
    border-radius: 50%;
    margin-top:-60px;
    border:5px solid white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5) ;
 }
 #testimonials .row .item h3{
    text-transform: capitalize;
    margin:20px 0 10px;
    
 }
 #testimonials .row .item p{
    line-height:1.6;
 }
 #contact {
    padding:60px 0;
    background-color: var(--bg-color);
 }
 #contact .row{
   display:grid;
   grid-template-columns: 2fr 1.4fr;
   margin-top:40px;
 }
  #contact .row .contact-content{
background-color: white;
padding:30px;

  }
   #contact .row .contact-content h3{
 text-transform:uppercase;
 font-size: 25px;
 font-weight:500;
   }

 #contact .row .contact-content form input
 ,#contact .row .contact-content form #message{
        display:block;
        margin:15px 0;
        outline: none;
        padding:15px;
        width:100%;  
        border:1px solid #ccc;
    }
    #contact .row .contact-content form .btn-submit{
     text-transform: uppercase;
     text-align: center;
     background-color: var(--black);
     color:white;
     width:100%;
     padding:20px;
     border:none;
     outline: none;
     cursor: pointer;
     transition:all 0.3s ease;
    }
    
   #contact .row .contact-content form .btn-submit:hover{
    background-color: var(--light-brown);
   }
#contact .row iframe{
    width:100%;
    height:100%;
}
footer .footer-top{
    background-image: url(images/footer-bg.png);
    background-size: cover;
    padding:60px;
    color:#fff;
}
 footer .row{
    display:grid;
    grid-template-columns: 2fr 1fr 1fr ;
    gap:80px;
    justify-content: center;
}
footer .row h4{
    text-transform: capitalize;
    margin-bottom:15px;
}
footer .row a{
    text-decoration: none;
    color:#fff;
    margin-right:10px;
}
footer .row li{
    margin-bottom:10px;
}
footer .row li i{
    margin-right:10px;
}
footer .row .about p{
margin-bottom:10px;
font-weight:500;
font-size:15px;
width:400px;
line-height:1.6;
}
  footer .copy-rights{
    background-color: var(--dark-gray);
    color:white;
    text-align:center;
    padding:25px;
    
}
footer .copy-rights p{
    font-weight:500;
}